@model AppRH.Models.Return

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body class="fondo-details">

<div >
    <p class="text-details">Detalles de la devolución</p>
    <hr />
    <dl class="row d-flex justify-content-center texto-detalles">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.CustomerName) *@
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Customer) *@
            DNI
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerDNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
</body>
</html>
